@font-face {
    font-family: shaifontai;
    src: url(SF_Shai_Fontai.ttf);
}
body {
    background-size: cover;
    background-position: center;
    background: url("https://i.pinimg.com/originals/1f/3c/e3/1f3ce3f2fb77aeb542d616158e3b40a7.gif") no-repeat center center scroll;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    position: relative;
}

.container {
    background-color: rgba(113, 49, 138, 0.856);
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(133, 40, 209);
    opacity: 95%;
    padding: 40px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #ff69b4;
    margin-bottom: 20px;
    font-family: shaifontai;
    font-size: 45px;
}

.upload-section {
    margin-bottom: 20px;
}

.upload-label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #1b1a1a;
}

#anime_image {
    border: 1px solid #00000063;
    border-radius: 15px;
    padding: 8px;
    width: 200px;
}

.submit-button {
    background-color: #791985e7;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.submit-button:hover {
    background-color: #480069c2;
}

footer {
    position: relative;
    margin-bottom: 400px;
    font-size: 12px;
    color: #242121d5;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}
